{% extends 'project/base.html' %}
{% load static %}

{% block content %}

<h1>Hello {{ user }}!</h1>
<div class="form-group">
    <table>
        <th>Show</th>
        <th>Status</th>
        <th>Edit</th>
        {% for i in subscriptions %}
        <tr>
            <td>{{ i.show }}</td>
            <td>{{ i.subscription_preference }}</td>
            <td><a href ="{% url 'subscription-update' i.id %}" class="btn btn-info btn-sm">Edit</a></td>
        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}
