{% extends 'main/loggedin.html' %}
{% load static %}

{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Quote Of The Day</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="{% url 'account_page' %}">Account Page</a>
        <a class="nav-link" href="{% url 'logout'%}">Logout</a>
      </nav>
    </div>
  </header>
{% endblock header %}

{% block content %}

<h1>Account Page For {{ user }}!</h1>
<div class="form-group">
    <table>
        <th>Show</th>
        <th>Status</th>
        <th>Edit</th>
        {% for i in subscriptions %}
        <tr>
            <td>{{ i.show }}</td>
            <td>{{ i.get_status_display }}</td>
            <td><a href ="{% url 'subscription-update' i.id %}" class="btn btn-info btn-sm">Edit</a></td>
        </tr>
        {% endfor %}

    </table>
    <br>
    <p><a href ="{% url 'password_change' %}" class="btn btn-primary btn-md">Change Password</a></p>
    <br>
    <p><a href ="{% url 'delete_account' user.id %}" class="btn btn-danger">Delete Account</a></p>
</div>

{% endblock %}
