{% extends 'main/base.html' %}


{% block title %}Login{% endblock %}

{% block content %}


<div>
    <h1>Account Page for {{ user }}</h1>
    <br>
    <div class="form-group">
      <table class= "table">
          <tr>
              <td>Quotes Subscriptions</td>
              <td><a href ="{% url 'subscriptions' %}" class="btn btn-info btn-sm">Edit</a></td>
          </tr>
          <tr>
            <td>Change Password</td>
            <td><a href ="{% url 'password_change' %}" class="btn btn-info btn-sm">Edit</a></td>
          </tr>
          <tr>
            <td>Delete Account</td>
            <td><a href ="{% url 'delete_account' user.id %}" class="btn btn-danger btn-sm">Edit</a></td>
          </tr>
  
      </table>
</div>
{% endblock %}