{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Quote Of The Day</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
      <a class="nav-link active" href="{% url 'user-add' %}">Sign Up</a>
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </nav>
  </div>
</header>

{% endblock header %}

{% block content %}

<h1 class="cover-heading">Sign Up Page</h1>
<p class="lead">Enter in your information to get hilarious quotes sent to your email every morning.</p>

<form action="/accounts/add/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% for message in messages %}
<li> {{ message }} </li>
{% endfor %}

{% endblock %}






