{% extends 'main/base.html' %}


{% block title%}
Login Page
{% endblock title %}

{% load static %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h1 class="cover-heading">Login Page</h1>
<p class="lead">Log in to your account to update your subscription preferences.</p>
 
<div>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
         
        <input type="submit" value="Login" />
    </form>
</div>
<br>
<a href="{% url 'reset_password'%}">Forgotten Password?</a>


{% for message in messages %}
<div class="alert alert-info" role="alert" id="test">
    <li> {{ message }} </li>
</div>

{% endfor %}

{% endblock %}



