<!doctype html>
<html lang="en">
  <head>
    {% if GA_KEY %}
    <script async="" src="https://www.googletagmanager.com/gtag/js?id={{ GA_KEY }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ GA_KEY }}');
    </script>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
  

    <title>
      {% block title%}

      {% endblock title %}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel='stylesheet' href="{% static 'main/css/style.css' %}">
    
    {% if GA_KEY %}
    <script async="" src="https://www.googletagmanager.com/gtag/js?id={{ GA_KEY }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ GA_KEY }}');
    </script>
    {% endif %}

  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      {% if user.is_authenticated %}
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Quote Of The Day</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link " href="{% url 'account_page' %}">Account Page</a>
            <a class="nav-link" href="{% url 'logout'%}">Logout</a>
          </nav>
        </div>
      </header>
      {% else %}
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Quote Of The Day</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'user-add' %}">Sign Up</a>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </nav>
        </div>
      </header>
      {% endif %}
      
      <main role="main" class="inner cover">
          
        {% block content %}
          
        {% endblock content %}

      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p><a href="{% url 'contactform' %}">Contact Us</a></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>



