{% extends 'main/base.html' %}

{% block content %}

<h2 class="cover-heading">"I wake up laughing. Yes, I wake up in the morning and there I am just laughing my head off."<br>
  -Bruce Willis</h3>
  <br>
<p class="lead">What's a better way to start your day laughing then with quotes from your favorite binge worthy TV shows? By signing up you will get quotes sent to your email every morning from your favorite shows such as The Office, Arrested Development, Schitt's Creek and more. Sounds great right? So what are you waiting for? Be like Bruce and sign up!</p>
<p class="lead">
  <a href="{% url 'user-add' %}" class="btn btn-lg btn-secondary">Sign Up</a>
</p>

{% endblock %}
