{% extends 'main/base.html' %}

{% block header %}
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Quote Of The Day</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="{% url 'home' %}">Home</a>
      <a class="nav-link" href="{% url 'user-add' %}">Sign Up</a>
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </nav>
  </div>
</header>

{% endblock header %}

{% block content %}
<h1>Password reset</h1>

<p>
    Can't remember your password? Enter your email address below and 
    we will email instructions for resetting it.

</p>

<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="Submit" name="Send Email">
</form>

{% endblock %}