{% extends 'main/base.html' %}

{% block header %}
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Quote Of The Day</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="{% url 'home' %}">Home</a>
      <a class="nav-link" href="{% url 'user-add' %}">Sign Up</a>
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </nav>
  </div>
</header>

{% endblock header %}

{% block content %}
<h1>Password reset complete</h1>

<p>Your password has been reset. Click the link below to be redirect to the login page</p>

<a href="{% url 'login' %}" class="btn btn-md btn-secondary">Login</a>

{% endblock %}